body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.myCanvas {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

#image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#gif {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/* 隐藏输入框 */
#container {
    display: none;
    position: absolute;
    align-items: center;
}

.inputRenderLabelBar {
    padding-left: 20px;
    font-size: 28px;
}

.inputRenderLabelBtn {
    cursor: pointer;
    border: 2px solid #982f13;
    border-radius: 3px;
    height: 56px;
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: -115px;
    background-color: #982f13;
}

/* 将完成图标放在输入框的右上角 */
#container img {
    position: absolute;
    height: 30px;
    margin-left: -30px;
    cursor: pointer;
}

/* 隐藏二维码 */
#qrcode {
    display: none;
    position: fixed;
    top: 70%;
    left: 75%;
}

#clearbtn {
    display: none;
    position: fixed;
    /* height: canvasH/12; */
    /* width:canvasW/11; */
    /* bottom: canvasH/13; */
    /* right:canvasW/12; */
}

#selectbtn {
    display: none;
    position: fixed;
    /* height: canvasH/12; */
    /* width:canvasW/11; */
    /* bottom: canvasH/13; */
    /* right:canvasW/8; */
}

#dwnbtn {
    display: none;
    position: fixed;
    /* height: canvasH/12; */
    /* width:canvasW/11; */
    /* bottom: canvasH/13; */
    /* right:canvasW/12; */
}


.bbtn {
    cursor: pointer;
    border: 1px solid #982f13;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: #982f13;
}

#backWriteCSS {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    left: 70px;
    width: 80px;
    /*设置宽度为icon长度，直接让文字换行*/
    text-align: center;
    font-weight: 700;
}

#reRenderCSS {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    left: 70px;
    width: 100px;
    text-align: center;
    font-weight: 700;
}

#backInputCSS {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    /* left:70px; */
    width: 150px;
    /*设置长一点，避免让文字换行*/
    text-align: center;
    font-weight: 700;
}


#returnHomeCSS {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    text-align: center;
    font-weight: 700;
}

#returnPreviousCSS {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    text-align: center;
    font-weight: 700;
}


.backWriteImg {
    height: 80px;
}

.backInputImg {
    height: 80px;
}

.reRenderImg {
    height: 80px;
}

.returnHomeImg {
    height: 80px;
}

.returnPreviousImg {
    height: 80px;
}

.backWriteP {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.backInputP {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.reRenderP {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.returnHomeP {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.returnPreviousP {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* 设置网页的字体为 Arial */
p {
    font-family: Arial;
}

/* 设置按钮的样式 */
.cancelbtn {
    margin-top: 30px;
    padding: 15px 27px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/* 设置弹窗的样式 */
.modal {
    position: fixed;
    /* 固定位置 */
    top: 50%;
    /* 距离顶部 50% */
    left: 50%;
    /* 距离左边 50% */
    transform: translate(-50%, -50%);
    /* 偏移 -50% ，使其居中 */
    width: 521px;
    /* 宽度为 300px */
    height: 350px;
    /* 高度为 200px */
    background-color: white;
    /* 背景颜色为白色 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 添加阴影效果 */
    border-radius: 25px;

    display: flex;
    /* 使用 flex 布局 */
    flex-direction: column;
    /* 垂直排列子元素 */
    justify-content: center;
    /* 子元素居中对齐 */
    align-items: center;
    /* 子元素居中对齐 */
    text-align: center;
    /* 文字居中对齐 */
    font-size: 21px;
    /* z-index: 1000;   设置在蒙版上方 */
}

/* 设置弹窗隐藏时的样式 */
.hidden {
    display: none;
    /* 不显示 */
}

.count {
    padding-left: 3px;
    padding-right: 3px;
}


/* 设置蒙版样式 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    /* 设置蒙版的颜色和透明度 */
    z-index: 999;
    /* 确保蒙版在其他元素上方显示 */
}

/* 当弹窗显示时，所有页面将被禁用.
除了按钮本身以外的所有元素都会被添加这个名为"disabled"的CSS类，从而禁用它们的交互事件。 */
.disableClick {
    pointer-events: none
}


/* 信息框 */
.wrap {
    width: 68vw;
    position: absolute;
    left: 46vw;
    top: 14vw;
    display: flex;
    color: #fff;
    display: none;
    font-family: "SimSun";
}

.word {
    height: 32vw;
    width: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38vw;
    flex-shrink: 0;
    cursor: pointer;
    font-family: '楷体';
}

.word-jg {
    display: none;
    width: 11vw;
}

.word-jg__flex {
    padding: 0 1rem;
    height: 32vw;
    line-height: 1;
    text-align: center;
    font-size: 10vw;
    position: absolute;
    left: 32.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.word-jg__flex .active {
    border: 1px solid #fff;
}

.word-info {
    margin-left: 1vw;
    width: 63%;
    /* flex: 1; */
    padding: 0 15px;
    position: relative;
    /* font-size: 38vm; */
    font-weight: lighter;
}

.word-font {
    display: flex;
    /* position: absolute;
    top:  */
    font-size: 2.5vw;
    margin-bottom: 0.9rem;
}

.word-font__item {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-font__type {
    font-size: 1.8rem;
    text-align: center;
}

.word-hy {
    margin-bottom: 0.9rem;
    font-size: 1.6rem;
}

.word-bj {
    margin-bottom: 0.9rem;
    font-size: 1.6rem;
    
}

.word-swjz {
    word-break:normal; 
    margin-bottom: 0.9rem;
    font-size: 1.6rem;
}

.word-bj span {
    margin-right: 0.5rem;
}

.sub {
    position: absolute;
    right: 9vw;
    top: 11vw;
    writing-mode: vertical-rl;
    font-size: 1.5vw;
    white-space: nowrap;
    line-height: 1.5;
    letter-spacing: 0.25em;
}

.img_style {
    width: 5vw;
    height: auto;
    max-width: 100%;
}